@model Portfolio5.Models.Rating
@{
    ViewData["Title"] = "Rating";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<div class="container">
    <h2>RATING</h2>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id Rating</th>
                <th>Id Reviewer</th>
                <th>Id Account</th>
                <th>Start Of Raing</th>
                <th>Num Of Rating</th>
                <th>Date Create</th>
                <th>Date update</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var rating in ViewBag.ratings)
        {
            <tr>
                <td>@rating.IdRating</td>
                <td>@rating.IdAcc</td>
                <td>@rating.IdReviewer</td>
                <td>@rating.StarOfRating</td>
                <td>@rating.NumOfRating</td>
                <td>@rating.Datecreated</td>
                <td>@rating.Dateupdated</td>
                <td>
                    <a asp-action="edit" asp-controller="rating" asp-route-id="@rating.IdRating" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a asp-action="delete" asp-controller="rating" asp-route-id="@rating.IdRating" onclick="return confirm('Are u sure ?')" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                

                </td>
            </tr>
        }

    </table>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Ratings</h4>
            </div>
            <div class="modal-body">
                <form  method="post" asp-action="add" asp-controller="rating">
                    <div class="form-group">
                        <label for="Id Rating">Id Rating</label>
                        <input type="text" asp-for="IdRating" class="form-control" id="IdRating" placeholder="Id Rating" />
                    </div>
                    <div class="form-group">
                        <label for="Id Reviewer">Id Reviewer</label>
                        <input type="text" asp-for="IdReviewer" class="form-control" id="IdReviewer" placeholder="Id Reviewer" />
                    </div>
                    <div class="form-group">
                        <label for="Id Account">Id Account</label>
                        <input type="text" asp-for="IdAcc" class="form-control" id="IdAccount" placeholder="Id Account" />
                    </div>
                    <div class="form-group">
                        <label for="StartOfRaing">Start Of Raing</label>
                        <input type="text" asp-for="StarOfRating" class="form-control" id="StartOfRaing" placeholder="Start Of Raing" />
                    </div>
                    <div class="form-group">
                        <label for="NumOfRating">Num Of Rating</label>
                        <input type="text" asp-for="NumOfRating" class="form-control" id="NumOfRating" placeholder="Num Of Rating" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Add" class="btn btn-primary" id="btnAdd" />

                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnEDit" onclick="return Edit();">Edit</button>-->
                @*<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>
























