@model Portfolio5.Models.SocialUser
@{
    ViewData["Title"] = "Social NetWork";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container">
    <h2>SOCIAL NETWORK</h2>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id Social Network User</th>
                <th>Name Social</th>
                <th>Icon Social</th>
                <th>URl Social</th>
                <th>Id Account</th>
                <th>Date Create</th>
                <th>Date update</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var socialUser in ViewBag.socialUsers)
        {
            <tr>
                <td>@socialUser.IdSocialUser</td>
                <td>@socialUser.NameSoc</td>
                <td>@socialUser.IconSoc</td>
                <td>@socialUser.UrlSoc</td>
                <td>@socialUser.IdAcc</td>
                <td>@socialUser.Datecreated</td>
                <td>@socialUser.Dateupdated</td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();"><i class="fas fa-edit"></i></button>
                    <a asp-action="delete" asp-controller="socialUser" asp-route-id="@socialUser.IdSocialUser" onclick="return confirm('Are u sure ?')" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                  

                </td>

            </tr>
        }
    </table>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Social Network</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="add" asp-controller="socialUser" >
                    <div class="form-group">
                        <label for="IdSocialNetworkUser">Id SocialNetwork User</label>
                        <input type="text" asp-for="IdSocialUser" class="form-control" id="IdSocialNetworkUser" placeholder="Id Social Network User"  />
                    </div>

                    <div class="form-group">
                        <label for="NameSocial">Name Social</label>
                        <input type="text" asp-for="NameSoc" class="form-control" id="NameSocial" placeholder="Name Social" />
                    </div>
                    <div class="form-group">
                        <label for="IconSocial">Icon Social</label>
                        <input type="text" asp-for="IconSoc" class="form-control" id="Icon Social" placeholder="Icon Social" />
                    </div>
                    <div class="form-group">
                        <label for="URlSocial">URl Social</label>
                        <input type="text" asp-for="UrlSoc" class="form-control" id="URlSocial" placeholder="URl Social" />
                    </div>
                    <div class="form-group">
                        <label for="IdAccount">Id Account</label>
                        <input type="text" asp-for="IdAcc" class="form-control" id="IdAccount" placeholder="Id Account" disabled="disabled" />
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Add" class="btn btn-primary" id="btnAdd" />

                    </div>
                </form>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnEDit" onclick="return Edit();">Edit</button>-->
                @*<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>
























