@using DemoSession1_ASPNETCoreMVC1.Models
<link href="~/css/style.css" rel="stylesheet" />
<h3 class="format-text"> Index2</h3>
@{ 
    var age = 20;

}

@if (age >= 18)
{
    <span> ban du tuoi</span>
}
else
{
    <span>ban chua du tuoi</span>
}

@{ 
    var names = new List<string>
    {
        "Name1", "name2", "name3", "name4"
    };
}

<ul>
   @foreach (var name in names) { 
       <li>@name</li>
    }
</ul>

@{ 
        var products = new List<Product> {
        new Product
        {
            Id = "p01", Name = "vinh", Photo = "1.jpg", Created = DateTime.Parse("10/21/2021"), Status = true, Price = 5.6,
            Quantity = 2
        },
        new Product
        {
            Id = "p02",
            Name = "le",
            Photo = "1.jpg",
            Created = DateTime.Parse("10/11/2021"),
            Status = true,
            Price = 2.6,
            Quantity = 2
        },
        new Product
        {
            Id = "p03",
            Name = "phat",
            Photo = "1.jpg",
            Created = DateTime.Parse("10/31/2021"),
            Status = true,
            Price = 7.6,
            Quantity = 2
        }
    };
}

<h3>Products</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Created</th>
        <th>Status</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>IdSub Total</th>

    </tr>
    @{ double total = 0;}
    @foreach (var product in products)
    {
        total += product.Price * product.Quantity;
        <tr>
            <td> @product.Id</td>   
            <td> @product.Name </td>        
            <td>   <img src="~/images/@product.Photo" alt="Alternate Text" width="120px" height="120px" /></td>   
            <td>   @product.Created.ToString("dd/MM/yyyy")</td>       
            <td> @(product.Status? "Active" : "Inactive") </td>      
            <td>   @product.Price</td>      
            <td>   @product.Quantity </td>    
            <td>   @(product.Quantity * product.Price) </td>
     </tr>
    }
    <tr>
        <td colspan="7" align="right">Total</td>
        <td>@total</td>
    </tr>
</table>