
@model Portfolio5.Models.AllSlider
@{ ViewData["Title"] = "Slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<br />
<br />
<br />
<div style="min-height: 1665.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Slider Manager</h1>
                </div>
                <div class="col-sm-6">
                    <br />
                    <ol class=" float-sm-right">
                        <div class="dropdown">
                            <button class="btn btn-primary">
                                Page
                                <i class="fa fa-caret-down"></i>
                            </button>
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                            <div class="dropdown-content">
                                <a href="https://www.youtube.com/watch?v=K8hATlKYRMw">Page 1</a>
                                <a href="https://www.youtube.com/watch?v=K8hATlKYRMw">Page 2</a>
                                <a href="https://www.youtube.com/watch?v=K8hATlKYRMw">Page 3</a>
                            </div>
                        </div>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
            <div class="card-header">
                <h3 class="card-title">Slider</h3>
            </div>
           
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id Slider</th>
                            <th>Date Create</th>
                            <th>Date update</th>
                            <th style="width: 10%">
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#slider" onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var slider in ViewBag.sliders)
                        {
                            <tr>
                                <td>@slider.IdSlider</td>
                                <td>@slider.Datecreated</td>
                                <td>@slider.Dateupdated</td>

                                <td>

                                    <a type="button" class="btn btn-success" asp-controller="page" asp-action="update" asp-route-id="@slider.IdSlider"><i class="fas fa-edit"></i></a>
                                    <a type="button" class="btn btn-danger" asp-controller="page" asp-action="delete" asp-route-id="@slider.IdSlider" onclick="return confirm('Are you sure delete @slider.IdSlider ? ')"><i class="far fa-trash-alt"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
   
 
            <div class="card-header">
                <h3 class="card-title">Slider part</h3>


            </div>
            
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id Slider Part</th>
                            <th>Id Slider</th>
                            <th>Title Part</th>
                            <th>Name Url</th>
                            <th>Url Slider</th>
                            <th>Photo</th>

                            <th>Date created</th>
                            <th>Date updated</th>
                            <th style="width: 10%">
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#sliderPart" onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sliderPart in ViewBag.sliderParts)
                        {
                        <tr>
                            <td>@sliderPart.IdSliderPart</td>
                            <td>@sliderPart.IdSlider</td>
                            <td>@sliderPart.TitlePart</td>
                            <td>@sliderPart.NameUrl</td>
                            <td>@sliderPart.UrlSlider</td>
                            <td><img src="~/Images/@sliderPart.Photo" alt="Alternate Text" height="100" width="100" /></td>
                            <td>@sliderPart.Datecreated</td>
                            <td>@sliderPart.Dateupdated</td>
                            <td>

                                <a type="button" class="btn btn-success" asp-controller="page" asp-action="UpdateSliderPart" asp-route-id="@sliderPart.IdSliderPart"><i class="fas fa-edit"></i></a>
                                <a type="button" class="btn btn-danger" asp-controller="page" asp-action="deletePart" asp-route-id="@sliderPart.IdSliderPart" onclick="return confirm('Are you sure delete @sliderPart.IdSliderPart ? ')"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
    
            <!-- /.card-body -->
 




<div class="modal fade" id="slider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="addslider" asp-controller="page" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="IdView">Id Slider</label>
                        <input type="text" asp-for="Slider.IdSlider" class="form-control" placeholder="Id Slider" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>

                    @*<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="sliderPart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <form method="post" asp-action="addsliderPart" asp-controller="page" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="IdView">IdSliderPart</label>
                        <input type="text" asp-for="SliderPart.IdSliderPart" class="form-control" id="IdView" placeholder="Id View" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">IdSlider</label>
                        <input type="text" asp-for="SliderPart.IdSlider" class="form-control" id="IdView" placeholder="Id View" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">TitlePart</label>
                        <input type="text" asp-for="SliderPart.TitlePart" class="form-control" id="IdView" placeholder="Id View" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">ContentPart</label>
                        <input type="text" asp-for="SliderPart.ContentPart" class="form-control" id="IdView" placeholder="Id View" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">NameUrl</label>
                        <input type="text" asp-for="SliderPart.NameUrl" class="form-control" id="IdView" placeholder="Id View" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">UrlSlider</label>
                        <input type="text" asp-for="SliderPart.UrlSlider" class="form-control" id="IdView" placeholder="Id View" />
                    </div>


                    <div class="form-group">
                        <label for="IdView">Photo</label>
                        <input type="file" name="file" class="form-control" id="IdView" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>

                   
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
            </form>
        </div>
    </div>
</div>

@*--------------------------------------*@
